{% extends 'base.html' %}
{% block title %} Settings {% endblock %}

<style>

  input[type="checkbox"].toggle{
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
  }

  input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="checkbox"].toggle:focus + label::before{
    outline: 1px solid hsl(0, 0%, 23%);
  }

  input[type="checkbox"].toggle + label::before{
    content: "";
    width: 2em;
    height: 1em;
    background-color:  hsl(0, 0%, 85%);
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
  }

  input[type="checkbox"].toggle + label::after{
    position: absolute;
    left: .1em;
    content: "";
    width: .9em;
    height: .9em;
    background-color: hsl(0, 90%, 60%);
    border-radius: 1em;
    transition: 200ms ease-in-out;
  }

  input[type="checkbox"].toggle:checked + label::after{
    transform: translateX(100%);
    background-color: hsl(100, 70%, 60%);
  }
</style>

{% block body_content %}

<section class="text-center py-5">
    <div class="container">
        <h1>Settings</h1><br><br>

          <input type="checkbox" id ="Location" class="toggle">
          <label for="Location">Chat by Location</label><br>

          <input type="checkbox" id ="Display" class="toggle">
          <label for="Display">Display Location</label><br>

          <input type="checkbox" id ="Buisness" class="toggle">
          <label for="Buisness">Buisness</label><br>

          <input type="checkbox" id ="A" class="toggle">
          <label for="A">An "A" for a pizza?</label><br>

        <button class="btn btn-primary" id="savebtn" type="button">
          Save Settings
    </div>
</section>

    {% load static %}
        <link rel="stylesheet" href="{% static 'css/settings.css' %}">
        <section id="contact" class="contact text-center py-5">
            <div class="container">
                <h2>Contact Us</h2>
                <p>If you have any questions or feedback, feel free to reach out to us.</p>
                <a href="mailto:contact@mapchatapp.com" class="btn btn-primary">Email Us</a>
                <a class="nav-link text-black" href="/logout">Logout</a>
              </div>
        </section>

<script>
  // Firebase configuration
  var firebaseConfig = {
  apiKey: "AIzaSyCwzsTIBBd48KlI1IG7hjSuiTQqshaBmV4",
  authDomain: "mapchat-ef869.firebaseapp.com",
  databaseURL: "https://mapchat-ef869-default-rtdb.firebaseio.com",
  projectId: "mapchat-ef869",
  storageBucket: "mapchat-ef869.appspot.com",
  messagingSenderId: "233501723438",
  appId: "1:233501723438:web:5b23fa135663362db808bf",
  measurementId: "G-7XG223B24F"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  //var savebtn=document.getElementById("savebtn");

  //Save
  savebtn.onclick=function(){
    savebtn.disabled=ture;
    savebtn.textContent="Settings Saved";

  }

</script>
{% endblock %}