{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block body_content %}
    <header class="bg-primary text-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
                <i class="bi bi-geo d-inline-block align-top"></i>
                <!--<img src="logo.png" alt="Mapchat Logo" width="30" height="30" class="bi bi-geo d-inline-block align-top">-->
                Mapchat
            </a>
            <!--Navigation Bar-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white">Home</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
{% endblock %}
<body>
    <nav>
        <a href="/home">Home</a>
    </nav>
</body>
</html>