  .chat-app {
    display: flex;
    font-family: sans-serif;
    overflow: hidden;
    height: 80vh;
  }

  .messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .user {
    font-weight: bold;
    color: #333;
  }