{% extends 'base.html' %}
{% block title %} Feed {% endblock %}
{% block body_content %}
    <style>
        .main-content {

        }
    </style>
    <div class="container px-3 py-3">
        <div class="row">
            <div class="col-3 sidebar">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-6 main-content">
                {% include 'feed.html' %}
            </div>
            <div class="col-3">
                {% include 'chats.html' %}
            </div>
        </div>
    </div>
{% endblock %}
