{% block sidebar_content %}
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                {{ user.username }}
            </a>
            <a href="#" class="list-group-item list-group-item-action">News</a>
            <a href="#" class="list-group-item list-group-item-action">Events</a>
            <a href="#" class="list-group-item list-group-item-action">Groups</a>
            <a href="#" class="list-group-item list-group-item-action">Notifications</a>
            <a href="#" class="list-group-item list-group-item-action">Settings</a>
        </div>
{% endblock %}