{% extends 'base.html' %}
{% block title %} Feed {% endblock %}
{% block body_content %}
    <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form method="post" action="." class="flex">
            <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">

            <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">
                Submit
            </button>
        </form>
    </div>
{% endblock %}

